<?xml version="1.0"?>
<!--
{{License}}
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Codilar_Csvupload::Csvupload" title="Analytics" module="Codilar_Csvupload" sortOrder="20" resource="Codilar_Csvupload::Csvupload" />
        <add id="Codilar_Csvupload::single_view" title="Single View" module="Codilar_Csvupload" sortOrder="10" action="Google_Analytics/Analytics" resource="Codilar_Csvupload::Csvupload" parent="Codilar_Csvupload::Csvupload" />
        <add id="Codilar_Csvupload::multi_view" title="Multi View" module="Codilar_Csvupload" sortOrder="10" action="Google_Analytics/Analytics/Multiview" resource="Codilar_Csvupload::Csvupload" parent="Codilar_Csvupload::Csvupload" />
    </menu>
</config>
