<?xml version="1.0"?>
<!--
{{License}}
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Codilar_Csvupload::Csvupload" title="Analytics" module="Codilar_Csvupload" sortOrder="20" action="Google_Analytics/Analytics" resource="Codilar_Csvupload::Csvupload" />

    </menu>
</config>
